.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8rem;
    background: none;
}

.right button {
    width: 172px;
    height: 53px;
    /* flex-shrink: 0; */
    border-radius: 4px;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.text {
    background: none;
    display: flex;
    gap: 3.5rem;
}

.text span {
    background: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    cursor: pointer;  
}

@media (max-width: 1320px) {
    .right {
        gap: 5rem;
    }
}

@media (max-width: 1024px) {
    .right {
        gap: 2rem;
    }

    .text, .right button {
        gap: 1.3rem;
        scale: .9;
    }
}

@media (max-width: 900px) {

    .text, .right button {
        scale: .8;
    }
}

@media (max-width: 750px) {
    .right, .text {
        gap: 3rem
    }
    
    .right {
        display: none;
    }
}

@media (max-width: 500px) {
   
}   