.HomeContent {
    background: inherit;
}

.HomeContent hr {
    background: rgba(255, 255, 255, 0.18);
    opacity: 0.5;
    /* max-width: 100vw; */
}

.Rule2 {
    position: relative;
    top: -4rem;
}

.HomeContent h1 {
    z-index: 200;
}

.PurpleFlare2 {
    position: absolute;
}
/* 
=======================================================
GENERAL MEDIA QUERIES 
_______________________________________________________
*/


@media (max-width: 1460px) {
    .Rule2 {
        top: 11.7rem;
    }
}

@media (max-width: 1200px) {
    .Rule2 {
        top: 8rem;
    }

    .PurpleFlare2 {
        width: 80vw;
    }
}

@media (max-width: 900px) {
    .Rule2 {
        top: -7.5rem;
    }
}

@media (max-width: 730px) {
    .Rule2 {
        top: -10.5rem;
    }
}

@media (max-width: 600px) {
    .Rule2 {
        top: -13rem;
    }
}

@media (max-width: 450px) {
    .Rule2 {
        top: -20rem;
    }
}

@media (max-width: 400px) {
    .Rule2 {
        top: -22rem;
    }
}